# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: Copyright (c) 2004-current Ryan M. Lederman

# Object files
*.o

# Libraries
*.lib
*.a
*.dylib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build artifacts
build/

# Visual Studio files
.vs/

# Linter files
pvsreport/
log.pvs

# direnv
.envrc
